body {
  width: 1445px;
  font-family: "Gilroy-Medium", sans-serif;
  margin: 0 auto;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}
:root{
  --black:#000000;
  --gray:#828282;
  --light-gray:#070707;
  --light-gray-background:#f6f6f6;
  --white: #ffffff;

}

.header-list {
  display: flex;
  justify-content: space-between;
  gap: 110px;
  list-style: none;
  padding-top: 30px;
}

.header-link {
  font-family: "Gilroy-Bold";
  text-decoration: none;
  color: var(--gray);
  font-size: 18px;
  line-height: 1.22;
  padding-top: 30px;
  padding-bottom: 30px;
}
.header-link:hover,
.header-link:focus {
  color:var(--black);
}
.container {
  width: 940px;
  margin: 0 auto;
}
.header-container {
  border-bottom: 1px solid var(--gray);
  height: 90px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
.hero-header {
  font-family: "Gilroy-Bold";
  font-size: 48px;
  line-height: 1.22;
  color: var(--light-gray);
  width: 123px;
}
.hero-section {
  padding: 30px 0 105px 0;
  display: flex;
}
.hero-container {
  display: flex;
  position: relative;
  margin-bottom: 50px;
}
.hero-p {
  font-size: 18px;
  line-height: 1.22;
  color: var(--light-gray);
  position: absolute;
  left: 420px;
  bottom: 8px;
  width: 155.65px;
  height: 44.06px;
}
.eng-lang {
  font-family: "Gilroy-Bold";
  font-size: 16px;
  line-height: 1.25;
  color: var(--gray);
  border-right: 1px solid var(--gray);
  text-decoration: none;
  padding-right: 5px;
}

.ru-lang {
  font-family: "Gilroy-Bold";
  font-size: 16px;
  line-height: 1.25;
  color: var(--gray);
  text-decoration: none;
  padding-left: 5px;
  border-left: 1px solid var(--gray);
}

.eng-lang:hover,
.eng-lang:focus {
  color: var(--black);
  border-right: 1px solid var(--black);
}
.ru-lang:hover,
.ru-lang:focus {
  color: var(--black);
  border-left: 1px solid var(--black);
}
.about-me-section {
  padding-top: 120px;
  padding-bottom: 105px;
  background-color: var(--light-gray-background);
}
.lang-change {
  left: 900px;
  bottom: 30px;
  position: absolute;
  display: flex;
  list-style: none;
  transform: rotate(-90deg);
}
.about-me-header {
  font-family: "Gilroy-Bold";
  font-size: 34px;
  line-height: 1.23;
  text-align: center;
  color: var(--dark-gray);
  margin-bottom: 30px;
}
.about-me-p {
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
  color: var(--dark-gray);
}
.p-list {
  font-family: "Gilroy-Medium", sans-serif;
  max-width: 485px;
  list-style: none;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.skills-header {
  font-family: "Gilroy-Bold";
  font-size: 34px;
  line-height: 1.2;
  text-align: center;
  color: var(--dark-gray);
  margin-bottom: 70px;
}
.skills-section {
  padding: 90px 0 110px 0;
}
.skills-list {
  display: flex;
  list-style: none;
  justify-content: center;
  gap: 90px;
}

.skills-svg {
  width: 90px;
  height: 90px;
  margin: 0 auto;
  display: block;
  margin-bottom: 23px;
}
.stars-svg {
  width: 165px;
  height: 25px;
}
.skills-p {
  font-family: "Gilroy-Bold";
  font-size: 14px;
  line-height: 1.2;
  text-align: center;
  color: var(--gray);
  margin-bottom: 40px;
}
.skills-text {
  font-family: "Gilroy-Medium";
  font-size: 18px;
  line-height: 1.2;
  text-align: center;
  color: var(--dark-gray);
  margin-bottom: 82px;
}
.last {
  margin-bottom: 57px;
}
.portfolio-sektion {
  background-color: var(--light-gray-background);
  padding: 113px 0 96px 0;
}
.portfolio-header {
  font-family: "Gilroy-Bold";
  font-size: 34px;
  line-height: 1.22;
  text-align: center;
  color: var(--light-gray);
  margin-bottom: 60px;
}
.project-link {
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
  text-decoration-line: underline;
  color: var(--light-gray);
  margin: 0 auto;
  display: block;
  margin-bottom: 100px;
}
.project-img {
  margin-bottom: 45px;
}
.last-link {
  margin-bottom: 0;
}
.contacts-header {
  font-family: "Gilroy-Bold";
  font-size: 34px;
  line-height: 1.22;
  text-align: center;
  color:var(--light-gray);
  margin-bottom: 30px;
}
.contacts-section {
  padding: 115px 0 125px 0;
}
.contacts-p {
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
  color: var(--light-gray);
  margin-bottom: 30px;
}
.contacts-button {
  padding: 13px 30px;
  background-color: var(--black);
  border-radius: 50px;
  font-family: "Gilroy-Bold";
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
  color:var(--white);
  margin: 0 auto;
  display: block;
  margin-bottom: 85px;
}
.contacts-svg{
  width: 40px;
  height: 40px;
}
.social-link-list{
  display: flex;
  list-style: none;
  gap: 60px;
  justify-content:center;
  margin-bottom: 45px;
}
.contact-text{
  font-size: 14px;
line-height: 1.2;
text-align: center;
color: var(--gray);
}